*/_build/*
*/*/_build/*
*/*/*/_build/*
*/*/*/*/_build/*
*/*/*/*/*/_build/*
*/*/*/*/*/*/_build/*
*/*/*/*/*/*/*/_build/*
*/*/*/*/*/*/*/*/_build/*
*/*/*/*/*/*/*/*/*/_build/*
*/*/*/*/*/*/*/*/*/*/_build/*
build
documentation/*
svd/*
*.msi
*/*.bak
.tags
GPATH
GRTAGS
GTAGS
